<div
  class="flex flex-col md:flex-row flex-wrap items-center md:items-start justify-center md:justify-between w-11/12 max-w-7xl mx-auto mb-32 gap-8">

  {% comment %} 1st Column {% endcomment %}
  <div class="flex flex-col items-center text-center max-w-xs md:flex-1 h-full">
    <div class="h-20 flex items-center justify-center">
      <img class="w-16 h-16 md:w-20 md:h-20" src="{{ 'leather-hide.svg' | asset_url }}" alt="Leather Hide">
    </div>
    <h2 class="font-bold text-xl md:text-2xl py-4">Full Grain Cowhide Leather</h2>
    <p class="px-6 md:px-10 text-sm md:text-base">
      When I am handcrafting your products, I only use, Vegetable tanned
      (meaning In short, chemical free!) Cowhide, English bridle leather sourced from a tannery that has been around for
      decades in Pennsylvania!
    </p>
  </div>

  {% comment %} 2nd Column {% endcomment %}
  <div class="flex flex-col items-center text-center max-w-xs md:flex-1 h-full">
    <div class="h-20 flex items-center justify-center">
      <img class="w-16 h-16 md:w-20 md:h-20" src="{{ 'notebook_black.svg' | asset_url }}" alt="Notebook">
    </div>
    <h2 class="font-bold text-xl md:text-2xl py-4">Design</h2>
    <p class="px-6 md:px-10 text-sm md:text-base">
      Each product is 100% designed by me, Ariel, and it always starts with
      my sketchbook!
    </p>
  </div>

  {% comment %} 3rd Column {% endcomment %}
  <div class="flex flex-col items-center text-center max-w-xs md:flex-1 h-full">
    <div class="h-20 flex items-center justify-center">
      <img class="w-16 h-16 md:w-20 md:h-20" src="{{ 'sewing-needle.png' | asset_url }}" alt="Leather Needles">
    </div>
    <h2 class="font-bold text-xl md:text-2xl py-4">Handcrafted</h2>
    <p class="px-6 md:px-10 text-sm md:text-base">
      When I say handcrafted, I really mean it! Not only is each product
      completely sewn by hand, (no sewing machine!) but there is a full process that goes into your timeless pieces!
      From original sketch to reality, each product is cut by hand from the cowhides. Then goes through a full process
      of making the item including marking seam allowance and punching holes for stitching, three different grits of
      sand paper for smooth edges, and the list goes on! All finished with Solid brass hardware! Resulting in a piece of
      art built to last!
    </p>
  </div>

  {% comment %} 4th Column {% endcomment %}
  <div class="flex flex-col items-center text-center max-w-xs md:flex-1 h-full">
    <div class="h-20 flex items-center justify-center">
      <span class="text-[64px] md:text-[80px] leading-none">😀</span>
      {% comment %} <img class="w-16 h-16 md:w-20 md:h-20" src="{{ 'customer.svg' | asset_url }}"
        alt="Customer Satisfaction"> {% endcomment %}
    </div>
    <h2 class="font-bold text-xl md:text-2xl py-4">Customer Satisfaction</h2>
    <p class="px-6 md:px-10 text-sm md:text-base">
      I love making my art through leather and although each sale is final
      sale, and I do not offer returns; I absolutely do want to make sure you ALWAYS LOVE your pieces!
      Please reach out via my contact page if you ever need anything at all or have questions regarding a product!
      I am totally happy to assist!
    </p>
  </div>

</div>