<div class="background: bg-gradient-to-r from-[#feb82b] 33% via-[#2387ff] 66% to-[#e561a1] 100%; w-full h-56 my-10 flex items-center justify-center">
   <div class="text-center text-white">
    <h1 class="font-bold px-4 sm:text-2xl md:text-3xl md:px-52">"The Leather that makes you smile &#128512;!"</h1>
   </div>
</div>

{% schema %}
    {
        "name": "Gradient Message",
        "settings": [
            {
                "type": "text",
                "id": "message",
                "label": "Quote" 
            }
        ]
    }
{% endschema %}