<style>
.handcrafted {
text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
}

.quality {
text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.unique {
text-shadow: -1px -1px 0 #2784FE, 1px -1px 0 #2784FE, -1px 1px 0 #2784FE, 1px 1px 0 #2784FE;
}
</style>

<!-- Header Gradient Section -->
<div class="flex flex-col justify-around items-center mt-12 md:mt-28 md:flex-row max-w-screen-lg mx-auto">
    <!-- Color Boxes -->
    <div class="flex flex-col">
        <!-- Handcrafted Section -->
        <div class="bg-[#feb82b] py-4 w-[365px] md:w-96 mb-4 shadow-[6px_6px_2px_-2px_#2280fa]">
            <h1 class="handcrafted font-bold text-white text-center text-5xl">HANDCRAFTED</h1>
        </div>
        <!-- Quality Section -->
        <div
            class="bg-[#fede8c] py-4 w-80 shadow-[6px_6px_2px_-2px_#2A3F54] transform rotate-[5deg] z-40 ml-8 mb-6 md:ml-10 md:mb-4">
            <h1 class="quality font-bold text-[#2784FE] text-center text-5xl">QUALITY</h1>
        </div>
        <!-- Unique Section -->
        <div class="bg-[#e561a1] py-4 w-72 mb-4 ml-10 shadow-[6px_6px_2px_-2px_#61e5dc] transform rotate-[-5deg]">
            <h1 class="unique font-bold text-[#FEDE8C] text-center text-5xl">UNIQUE</h1>
        </div>
    </div>
    <!-- Wallet Image -->
    <div>
        {% if section.settings.image == blank %}
        <img class="w-[350px] h-[350px] mt-10 md:mt-0"
            src="{{ 'wallet-collection.png' |  asset_url }}" alt="My company logo">
        {% else %}
        <img class="w-[150px] h-[150px] md:w-[175px] md:h-[175px]" src="{{ section.settings.image | img_url: 'master' }}"
            alt="My company logo">
        {% endif %}
    </div>
</div>

{% schema %}
{
"name": "Hero Image",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image"
}
]
}
{% endschema %}